---
---

img.heading_image {
  width: 100%;
  height: 100%;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

iframe.small {
  width: 512px;
  height: 288px;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

iframe.large {
  width: 1024px;
  height: 576px;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

iframe.pdf {
  width: 1024px;
  height: 576px;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

@import
  "minima/skins/{{ site.minima.skin | default: 'classic' }}",
  "minima/initialize";

strong {
  font-weight: bold;
  color: rgb(145, 16, 16);
}