---
---

img.heading_image {
  width: 100%;
  height: 100%;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

iframe.small {
  width: 50%;
  display: flex;
  margin-left: auto;
  margin-right: auto;
  aspect-ratio: 1.78;
}

iframe.large {
  width: 100%;
  display: flex;
  margin-left: auto;
  margin-right: auto;
  aspect-ratio: 1.78;
}

iframe.pdf {
  width: 100%;
  display: flex;
  margin-left: auto;
  margin-right: auto;
  aspect-ratio: 0.707;
}

@import
  "minima/skins/{{ site.minima.skin | default: 'classic' }}",
  "minima/initialize";

strong {
  font-weight: bold;
  color: $site-title-color;
}